.progressBar {
  position: relative;
  height: 12px;
  border: 1px solid;
  margin: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.progressBar .bar {
  height: 10px;
  margin: 1px;
  float: left;
  width: 0;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
}
.progressBar .textContainer {
  position: absolute;
  line-height: 12px;
  font-weight: bold;
  top: 2px;
}
